window-rule {
    match app-id="google-chrome"
    default-column-width { proportion 0.55; }
    opacity 1.0
    open-focused true
}

window-rule {
    match app-id="firefox"
    default-column-width { proportion 0.7; }
    opacity 1.0
    open-focused true
}


layout {
    // New windows decide their initial width themselves.
    default-column-width {}
}
   
binds {
    Mod+Shift+Return { spawn-sh "dolphin /home/ruben/Downloads/"; }
    Mod+Alt+F4 { spawn-sh "rm -r /home/ruben/.config/Logseq/window-state.json"; }
    Mod+Alt+Return { spawn-sh "thunar /home/ruben/Downloads/"; }
    Mod+Alt+F1 { spawn "firefox"; }
    Mod+Alt+F12 { spawn "ticktick"; }
    Mod+Escape { spawn-sh "kitty btop"; }

    // === Revertir Lanzadores y Overview ===
    Mod+D { spawn "anyrun"; }
    Mod+E { toggle-overview; }
    Mod+Tab { focus-workspace-previous; }

    // === Revertir Navegacion (Flechas con cambio de workspace) ===
    Mod+Down { focus-window-or-workspace-down; }
    Mod+Up { focus-window-or-workspace-up; }
    
    // === Revertir Movimiento (Ctrl para mover, Shift para monitores) ===
    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Down  { move-window-down; }
    Mod+Ctrl+Up    { move-window-up; }
    Mod+Ctrl+Right { move-column-right; }

    Mod+Shift+Left  { focus-monitor-left; }
    Mod+Shift+Down  { focus-monitor-down; }
    Mod+Shift+Up    { focus-monitor-up; }
    Mod+Shift+Right { focus-monitor-right; }

    // === Revertir Teclas de Utilidad ===
    Mod+L allow-when-locked=true { spawn-sh "dms ipc call lock lock"; }
    Mod+T { toggle-window-floating; }
    Mod+I { consume-window-into-column; }
    Mod+O { expel-window-from-column; }
    Mod+Shift+W { expand-column-to-available-width; }
    Mod+Shift+K { spawn "thunar"; }
}

environment {
  //GTK_THEME "adw-gtk3-dark"
  GTK_THEME "Matcha-dark-sea"
  XCURSOR_THEME "oreo_teal_cursors"
  QT_QPA_PLATFORMTHEME "gtk3"
  QT_QPA_PLATFORMTHEME_QT6 "gtk3"
  QS_ICON_THEME "Papirus-Dark"
  BROWSER "google-chrome-canary"
  CHROME_EXECUTABLE "google-chrome-canary"
 _JAVA_AWT_WM_NONREPARENTING "1"
 _JAVA_OPTIONS "-Dawt.useSystemAAFontSettings=gasp"
}


input {
    // warp-mouse-to-focus
    focus-follows-mouse  max-scroll-amount="20%"
    workspace-auto-back-and-forth
}
