include "input.kdl"
include "output.kdl"
include "startup.kdl"
include "workspaces.kdl"
include "layout.kdl"
include "animations.kdl"
include "window-rules.kdl"
include "environment.kdl"
include "keybinds.kdl"
include "dms/colors.kdl"
include "user.kdl"
