binds {
    // General actions and system commands
    Mod+Ctrl+Shift+F { toggle-windowed-fullscreen; }
    Mod+Ctrl+Shift+S { toggle-keyboard-shortcuts-inhibit; }

    // Application launchers and binds
    Mod+Return { spawn "kitty"; }
    Mod+Shift+Z { spawn "nemo"; }
    Mod+Shift+Return { spawn-sh "thunar"; }
    Mod+F1 { spawn-sh "~/.config/niri/scripts/run_chrome.sh"; }
    Mod+Alt+F1 { spawn-sh "firefox"; }
    Mod+F2 { spawn "ferdium"; }
    Mod+F3 { spawn "zotero"; }
    Mod+F4 { spawn "logseq"; }
    Mod+F5 { spawn "zettlr"; }
    Mod+F6 { spawn "krusader"; }
    Mod+F7 { spawn "virt-manager"; }
    Mod+F8 { spawn "qbittorrent"; }
    Mod+F9 { spawn "jdownloader"; }
    Mod+F10 { spawn "~/.config/niri/scripts/launch-anytype.sh"; }
    Mod+Alt+F10 { spawn "claude-desktop"; }
    Mod+F11 { spawn "github-desktop"; }
    Mod+Alt+F11 { spawn "antigravity-ide"; }
    Mod+F12 { spawn "smile"; }
    Mod+Ctrl+N { spawn "newsflash"; }
    Mod+Ctrl+M { spawn-sh "~/.config/niri/scripts/run_stream.sh"; }

    // System utility binds
    Mod+Shift+K { spawn "thunar"; }
    Mod+Shift+B allow-when-locked=true { spawn-sh "dms restart"; }
    Mod+Alt+C hotkey-overlay-title="Control Center" { spawn-sh "dms ipc call control-center toggle"; }
    Ctrl+Alt+P { spawn "pamac-manager"; }
    Mod+Shift+M { spawn-sh "wl-present mirror"; }
    Mod+Alt+B { spawn-sh "kitty btop"; } // Antes Mod+Escape
    Mod+Alt+F { spawn-sh "variety -f && notify-send 'Copied to favorites'"; }
    Mod+Alt+W { spawn-sh "variety -n && notify-send 'Next wallpaper'"; }
    Mod+Alt+S { spawn-sh "systemctl suspend"; }
    Mod+Alt+2 { spawn-sh "~/.bin/lnk_push.sh"; }
    Mod+Alt+1 { spawn-sh "~/.bin/lnk_pull.sh"; }
    Mod+Alt+R { spawn-sh "bash ~/.config/niri/scripts/gpu_recorder.sh"; } // Antes Mod+Ctrl+R
    Mod+Ctrl+Slash { spawn-sh "dms ipc call keybinds toggle niri"; }
    Mod+Alt+V { spawn-sh "pavucontrol"; }
    
    // Cerrar la ventana activa con Mod + Clic Central
    Mod+MouseMiddle { close-window; }

    Mod+Shift+O { toggle-window-rule-opacity; }

    // Screenshots custom
    Mod+Print { spawn "~/.config/niri/scripts/screenshot_swappy.sh"; }

    // Multimedia and peripherals custom
    Alt+F10 { spawn-sh "dms ipc call audio mute"; }
    Alt+F11 { spawn-sh "dms ipc call audio decrement 3"; }
    Alt+F12 { spawn-sh "dms ipc call audio increment 3"; }
    Mod+Alt+P { spawn-sh "~/.config/niri/scripts/conectar_audio.sh poseidon"; }
    Mod+Alt+E { spawn-sh "~/.config/niri/scripts/conectar_audio.sh earfun"; }

    // Mouse and Touchpad binds custom
    Mod+Ctrl+MouseLeft { close-window; }
    Mod+Ctrl+MouseMiddle { maximize-column; }
    Ctrl+MouseMiddle { close-window; }
    Mod+TouchpadScrollDown { spawn-sh "dms ipc call audio decrement 3"; }
    Mod+TouchpadScrollUp { spawn-sh "dms ipc call audio increment 3"; }
}

// Switch events
switch-events {
       lid-close { spawn "systemctl" "suspend"; }
}
