// spawn-at-startup "~/.config/niri/waybar.sh"
// spawn-sh-at-startup "qs -c noctalia-shell"
// spawn-sh-at-startup "dms run"
// spawn-at-startup "xwayland-satellite"
// spawn-at-startup "swww-daemon"
// spawn-sh-at-startup "swww img ~/wallpaper/default.jpg"
// spawn-at-startup "swayosd-server"
// spawn-at-startup "swaync" "-c" "~/.config/swaync/config.json" "-s" "~/.config/swaync/style.css"
// spawn-sh-at-startup "wl-paste --watch cliphist store &"
spawn-at-startup "wlsunset" "-l" "20.70" "-L" "-103.34"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
// spawn-at-startup "swayidle"
// spawn-at-startup "stasis"
spawn-at-startup "blueman-applet"
spawn-at-startup "insync"
// spawn-at-startup "/opt/ExpanDrive/expandrive" "--autorun"
spawn-at-startup "~/.config/niri/launch-expandrive.sh"
spawn-at-startup "nm-applet" "--indicator"
spawn-at-startup "kdeconnectd"
spawn-at-startup "kdeconnect-indicator"
// spawn-at-startup "copyq"
spawn-at-startup "qbittorrent"
// spawn-at-startup "cosmic-ext-alternative-startup"
// spawn-at-startup "niriswitcher"
spawn-at-startup "ferdium"
// spawn-at-startup "thunderbird"
spawn-at-startup "zotero"
spawn-at-startup "variety"
spawn-sh-at-startup "rm ~/.config/Logseq/window-state.json"
spawn-at-startup "logseq"
spawn-at-startup "niri" "msg" "action" "focus-workspace" "web"
