spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-at-startup "blueman-applet"
spawn-at-startup "insync"
spawn-at-startup "~/.config/niri/launch-expandrive.sh"
spawn-at-startup "~/.config/niri/launch-anytype.sh"
spawn-at-startup "nm-applet" "--indicator"
spawn-at-startup "kdeconnectd"
spawn-at-startup "kdeconnect-indicator"
// spawn-at-startup "qbittorrent"
spawn-at-startup "ferdium"
spawn-at-startup "zotero"
spawn-at-startup "variety"
spawn-sh-at-startup "rm ~/.config/Logseq/window-state.json"
spawn-sh-at-startup "logseq"
spawn-sh-at-startup "gsettings set org.gnome.desktop.interface gtk-enable-primary-paste true"