// Layout configuration
layout {
    gaps 10
    center-focused-column "never"
    default-column-display "tabbed"
    tab-indicator {
        // off
        hide-when-single-tab
        place-within-column
        gap 4
        width 15
        length total-proportion=1.0
        position "top"
        gaps-between-tabs 10
        corner-radius 0
        active-color "#89b4fa"
        inactive-color "gray"
        urgent-color "red"
        // active-gradient from="#80c8ff" to="#bbddff" angle=45
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
        // urgent-gradient from="#800" to="#a33" angle=45
    }
    preset-column-widths {
        proportion 0.25
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 0.75
        // fixed 1920
    }
    background-color "transparent"
    insert-hint {
        // off
        color "#ffc87f80"
        gradient from="#6b8c61" to="#a6da95" angle=45 relative-to="workspace-view"
    }
    default-column-width { proportion 0.5; }
    focus-ring {
        // off
        width 3
        active-color "#89b4fa"
        inactive-color "#3A3A3E"
        active-gradient from="#89b4fa" to="#a6da95" angle=45
        inactive-gradient from="#3A3A3E" to="#808080" angle=45 relative-to="workspace-view"
    }
    shadow {
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }
    /-border {
        // off
        width 1
        active-color "#a6da95"
        inactive-color "#505050"
    }
    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}


// Overview configuration
overview {
    zoom 0.3
    backdrop-color "#262626"

    workspace-shadow {
        // off
        softness 40
        spread 10
        offset x=0 y=10
        color "#00000080"
    }
}


// Layer rules
/-layer-rule {
    match namespace="^swww-daemon$"
    place-within-backdrop true
}

layer-rule {
    match namespace="^quickshell$"
    place-within-backdrop true
}


// Screenshot configuration
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
// screenshot-path null


// xwayland
xwayland-satellite {
    // off
    path "xwayland-satellite"
}


// Client-side decorations
prefer-no-csd


// Cursor configuration
cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 24
    hide-when-typing
    // hide-after-inactive-ms 1000
}


// Hotkey overlay configuration
hotkey-overlay {
    skip-at-startup
}


// Debug options
debug {
    honor-xdg-activation-with-invalid-serial
}

recent-windows {
    // off
    open-delay-ms 150

    highlight {
        active-color "#999999ff"
        urgent-color "#ff9999ff"
        padding 30
        corner-radius 0
    }

    previews {
        max-height 480
        max-scale 0.3
    }

    binds {
        Alt+Tab         { next-window; }
        Alt+Shift+Tab   { previous-window; }
        Alt+grave       { next-window     filter="app-id"; }
        Alt+Shift+grave { previous-window filter="app-id"; }

        Mod+Tab         { next-window; }
        Mod+Shift+Tab   { previous-window; }
        Mod+grave       { next-window     filter="app-id"; }
        Mod+Shift+grave { previous-window filter="app-id"; }
    }
}