workspace "chat" {
    open-on-output "HDMI-A-1"
}
workspace "agents2" {
    open-on-output "HDMI-A-1"
}
workspace "ref" {
    open-on-output "HDMI-A-1"
}
workspace "notes" {
    open-on-output "HDMI-A-1"
}
workspace "write" {
    open-on-output "HDMI-A-1"
}
workspace "web" {
    open-on-output "DP-3"
}
workspace "agents" {
    open-on-output "DP-3"
}
workspace "files" {
    open-on-output "DP-3"
}
workspace "virt" {
    open-on-output "DP-3"
}
workspace "media" {
    open-on-output "DP-3"
}
