
window-rule {
    match app-id="google-chrome"
    default-column-width { proportion 0.5; }
    opacity 1.0
    open-focused true
}


layout {
    // New windows decide their initial width themselves.
    default-column-width {}
}
   
binds {
    Mod+Shift+Return { spawn-sh "nemo"; }
    // Mod+Alt+F4 { spawn-sh "rm -r /home/ruben/.config/Logseq/window-state.json"; }
    Mod+M { spawn-sh "mpv /dev/video2"; }
    Mod+Alt+Return { spawn-sh "thunar"; }
}

environment {
  //GTK_THEME "adw-gtk3-dark"
  GTK_THEME "Matcha-dark-sea"
  XCURSOR_THEME "oreo_teal_cursors"
  QT_QPA_PLATFORMTHEME "gtk3"
  QT_QPA_PLATFORMTHEME_QT6 "gtk3"
  QS_ICON_THEME "Papirus-Dark"
}

